*{
    margin: 0;
    padding: 0;
}

.text-block {
        background-color: blue;
        display: block;
        width: 221px;
        height: 19px;
        overflow: hidden;
    }
.text-block:hover{
    background-color:red;
}